form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "input-left input-right"
    "type-purchase-radio ."
    "button .";
  width: fit-content;
}

.button-convert {
  grid-area: button;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 149px;
  height: 56px;
  background: #00ab63;
  border: 1px solid #008b57;
  box-sizing: border-box;
  box-shadow: 0px 8px 4px #0d111b14;
  border-radius: 8px;
  flex-grow: 0;
  margin: 32px 0px;
  padding: 16px;

  font-size: 16px;
  line-height: 24px;
  color: white;

  img {
    margin-right: 18px;
  }

  &:disabled {
    background: #8c9cad;
    border: 1px solid #008b57;
  }
}
