.type-purchase-radio {
  grid-area: type-purchase-radio;

  display: grid;
  width: fit-content;
  grid-template-areas:
    "type-purchase-p type-purchase-p"
    "cash-radio card-radio";

  p {
    grid-area: type-purchase-p;
  }
}

.card-radio {
  grid-area: card-radio;
}

.cash-radio {
  grid-area: cash-radio;
  margin-right: 16px;
}

.card-radio,
.cash-radio {
  display: flex;
  align-items: center;

  input {
    margin: 0;
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
}
