h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
  line-height: 80px;
  color: #00AB63;
  margin: 0;
  margin-bottom: 32px;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #45505e;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #6E7E90;
  margin: 0px;
}

.button-back {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  width: 120px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #D7E0EB;
  box-sizing: border-box;
  box-shadow: 0px 8px 4px #0d111b14;
  border-radius: 8px;
  margin: 32px 0px;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2E3742;

  img { margin-right: 10px; }
}